{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<section id="about">
		<div class="container mt-5">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-title">
						<div class="section-subtitle">About Us</div>
						<h2 class="section-main-title">
							<strong> We Care Consulting</strong>
						</h2>
					</div>

					<div class="about-item">
						<p>We Care Consulting is a leading online platform that provides convenient and accessible healthcare consulting services. We understand the importance of timely medical advice and aim to connect patients with qualified doctors for virtual consultations, offering a seamless experience from the comfort of your own home. </p>
                     <p>
					Our team consists of experienced and highly skilled medical professionals who are dedicated to providing personalized care to patients. We believe in the power of technology to bridge the gap between doctors and patients, making quality healthcare accessible to everyone, regardless of their location or busy schedules.</p>
					

					
					</div>
				</div>

				<div class="col-sm-4 offset-sm-2">
				 <div class="about-box">
				   <img src="{% static 'images/about-1.jpg' %}">
				 </div>
				</div>
            </div>

			<div class="row mt-5">
				<div class="col-sm-4">
				 <div class="about-boxx">
				   <img src="{% static 'images/about1.jpg' %}">
				 </div>
				</div>
				<div class="col-sm-6 offset-sm-2">
				<div class="about-item mt-5">
					
						
							
						
						
						
							
						</div>
					</div>
				</div>
			</div>

            <div class="row mt-5">
				<div class="col-sm-6">
				<div class="about-item mt-5 ">
					
					<p class="ml-5">Booking a consultation with our doctors is quick and hassle-free. Our intuitive online booking system allows you to select a suitable time slot that fits your schedule. You can browse through the profiles of our highly qualified doctors, read patient reviews, and choose the healthcare professional that best meets your needs.</p>

					</div>

				</div>

				<div class="col-sm-4 offset-sm-2">
				 <div class="about-box">
				   <img src="{% static 'images/about2.jpg' %}">
				 </div>
				</div>
			</div>
		</div>
	</section>

{% endblock%}